.home-container {
    display: flex;
    flex-direction: column;
    color: #D8DCFF;
}
.home-container_main {
    display: flex ;
    flex-direction: row;
    align-items: flex-start;
}

@media screen and (max-width: 550px) {
    .home-container_main{
        align-items: center;
        justify-content: center;
    }

}
@media screen and (max-width: 700px) {
    .home-container_main{
        align-items: center;
        justify-content: center;
    }

}
