.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    margin-bottom: 2rem;
}
.navbar a {
    text-decoration: none;
    cursor: pointer;
    color: mintcream;
}
.left , .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
}
.left .logo a, 
.right .basket-logo a {
    display: flex;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2rem;

}
.right a {
    color: #fff;
    font-size: large;
    font-weight: 700;
}
.menu {
    display: none;
}
.padding_right {
    padding-right:1rem ;
}

@media screen and (max-width: 700px) {
    .signup  a {
        display: none;
    }
    .left .logo a {
        font-size: medium;
        font-weight: 500;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
    }
    .menu a {
        color: #fff;
        font-size: small;
        font-weight: 100;
    }
    .menu .menu-bar {
        flex-direction: column;
        margin: 1.5rem 1rem 0 0;
        width: auto;
        border-radius: 5px;
        padding: 1rem;
        position: absolute;
        background-color: #333;
        color: #fff;
        right: 0;
    }
    .basket-logo-menu {
        display: none;
    }
    .menu .basket-logo a{
        display: none;
    } 
    .display-none {
        display: none;
    }

}

@media screen and (max-width: 550px) {
    .products,
    .basket-logo,
    .signup{
        display: none;
    }
    .left .logo a {
        font-size: medium;
        font-weight: 500;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu a {
        color: #fff;
        font-size: small;
    }
    .menu .menu-bar {
        flex-direction: column;
        margin: 1.5rem 1rem  0;
        width: auto;
        border-radius: 5px;
        padding: 0.7rem 0.7rem 0.7rem 0.7rem;
        position: absolute;
        background-color: #333;
        color: #fff;
        right: 0;
    }
    .menu .basket-logo a{
        font-size: small;
        margin: 0;
    } 
    .display-none {
        display: none;
    }

}